@using FastSchedule.MVC.ViewModels;
@model MonthViewModel

@{
    @if (Model.StartWeekGap != null)
    {
        for (int i = 0; i < Model.StartWeekGap; i++)
        {
            <div class="grid-item empty-grid">
            </div>
        }
    }

    foreach (var day in Model.Schedule.Days)
    {
        <div id="@day.Date.Year.@day.Date.Month.@day.Date.Day" class="grid-item @((int)day.Date.DayOfWeek == 6 || (int)day.Date.DayOfWeek == 0 ? "weekend-day" : "")
                @(day.OverdueTasks != null && day.OverdueTasks.Count > 0 ? "overdue" : "") @(day.Tasks != null && day.Tasks.Count > 0 ? "inprogress" : "")
                    @(day.IsDayComplete ? "completed" : "")">
            <div class="manage-and-date">
                <div class="date-and-symbol">
                    @if(day.Date.Day == 1)
                    {
                        <p style="@(Model.TodayDate == day.Date ? "font-weight: 600;" : "")">@day.Date.Day.ToString("00")</p>
                        <p style="@(Model.TodayDate == day.Date ? "font-weight: 800;" : "")">.@day.Date.Month.ToString("00")</p>
                    }
                    else
                    {
                        <p style="@(Model.TodayDate == day.Date ? "font-weight: 600;" : "")">@day.Date.Day</p>
                    }
                    <img style="@(day.OverdueTasks != null && day.OverdueTasks.Count() != 0 ? "display: block;" : "")" class="day-symbol" src="~/images/icons/overdue.png"/>
                    <img style="@(day.IsDayComplete ? "display: block;" : "")" class="day-symbol" src="~/images/icons/complete.png" />
                </div>
                <img class="manage-grid" src="/images/icons/info.png" />
            </div>
            @await Html.PartialAsync("TasksList", day)
        </div>
    }
}