@using FastSchedule.Application.Services.ScheduleMaker.Models;
@model Day
@{
    if ((Model.Tasks != null) || (Model.OverdueTasks != null) ||
           (Model.CompletedTasks != null))
    {
        int tasksCount = 0;
        <div class="events">
            @if (Model.OverdueTasks != null)
            {
                @foreach (var task in Model.OverdueTasks)
                {
                    if (tasksCount == 3)
                        break;
                    <div style="background-color:#f56969" class="task">
                        <p class="event-label">@task.Label</p>
                        @if (task.EventTime != null)
                        {
                            <p class="event-time">@task.EventTime</p>
                        }
                    </div>
                    tasksCount++;
                }
            }
            @if (Model.Tasks != null)
            {
                @foreach (var task in Model.Tasks)
                {
                    if (tasksCount == 3)
                        break;
                    <div style="background-color:#@task.Color" class="task">
                        <p class="event-label">@task.Label</p>
                        @if (task.EventTime != null)
                        {
                            <p class="event-time">@task.EventTime</p>
                        }
                    </div>
                    tasksCount++;
                }
            }
            @if (Model.IsDayComplete && Model.CompletedTasks != null)
            {
                @foreach (var task in Model.CompletedTasks)
                {
                    if (tasksCount == 3)
                        break;
                    <div style="background-color:#@task.Color" class="task">
                        <p class="event-label">@task.Label</p>
                        @if (task.EventTime != null)
                        {
                            <p class="event-time">@task.EventTime</p>
                        }
                    </div>
                    tasksCount++;
                }
            }
            @if (tasksCount == 3)
            {
                int? remainsTasks = 0;
                if (Model.IsDayComplete)
                    remainsTasks += Model.CompletedTasks?.Count();
                remainsTasks += Model.Tasks?.Count();
                remainsTasks += Model.OverdueTasks?.Count();
                remainsTasks -= tasksCount;
                if (remainsTasks > 0)
                {
                    <div style="background-color:#dddddd" class="task">
                        <p class="event-label">И ещё @remainsTasks</p>
                    </div>
                }
            }
        </div>
    }

}
