@using FastSchedule.MVC.ViewModels;
@model ModalWindowViewModel

<div class="add-new-task">
    <input name="guid" value="@Model.Task.Guid" type="hidden" />
    <input name="color" value="@Model.Task.Color" type="hidden" />
    <div class="task-settings-line">
        <div class="setting">
            <label>Цвет события</label>
            <div class="color-picker">
                <a class="color purple @(Model.Task.Color == "d6b1e3" ? "preSelectedColor" : "")" id="d6b1e3"></a>
                <a class="color red @(Model.Task.Color == "c27b7b" ? "preSelectedColor" : "")" id="c27b7b"></a>
                <a class="color green @(Model.Task.Color == "d6e9ce" ? "preSelectedColor" : "")" id="d6e9ce"></a>
                <a class="color yellow @(Model.Task.Color == "f7dd8b" ? "preSelectedColor" : "")" id="f7dd8b"></a>
                <a class="color gray @(Model.Task.Color == "ccd2e0" ? "preSelectedColor" : "")" id="ccd2e0"></a>
                <a class="color pink @(Model.Task.Color == "fce2c7" ? "preSelectedColor" : "")" id="fce2c7"></a>
            </div>
        </div>
        <div class="setting">
            <input name="label" value="@Model.Task.Label" type="text" placeholder="Название" />
        </div>
        <div class="setting">
            @if (Model.Task.EventTime != null)
            {
                <input name="time" value="@Model.Task.EventTime.Value.ToString("HH:mm")" type="time" />
            }
            else
            {
                <input name="time" type="time" />
            }
        </div>
        <div class="setting remind">
            <label>Напомнить?</label>
            <select name="reminder">
                <option @((int)Model.Task.RemindType == 0 ? "selected" : "") value="0">Нет</option>
                <option @((int)Model.Task.RemindType == 1 ? "selected" : "") value="1">За 15 минут</option>
                <option @((int)Model.Task.RemindType == 2 ? "selected" : "") value="2">За пол часа</option>
                <option @((int)Model.Task.RemindType == 3 ? "selected" : "") value="3">За час</option>
                <option @((int)Model.Task.RemindType == 4 ? "selected" : "") value="4">За 6 часов</option>
                <option @((int)Model.Task.RemindType == 5 ? "selected" : "") value="5">За сутки</option>
            </select>
        </div>
        <div class="setting">
            <label>Повторять?</label>
            <select name="repeat">
                <option @((int)Model.Task.TaskType == 0 ? "selected" : "") value="0">Нет</option>
                <option @((int)Model.Task.TaskType == 1 ? "selected" : "") value="1">Каждый день</option>
                <option @((int)Model.Task.TaskType == 2 ? "selected" : "") value="2">Каждую неделю</option>
                <option @((int)Model.Task.TaskType == 3 ? "selected" : "") value="3">Каждый месяц</option>
                <option @((int)Model.Task.TaskType == 4 ? "selected" : "") value="4">Каждый год</option>
            </select>
        </div>
        <div class="setting">
            @if (Model.IsAddWindow)
            {
                <img src="~/images/icons/add.png" class="add-button" />
            }
            else
            {
                <img src="~/images/icons/refresh.png" class="update-button" />
            }
        </div>
    </div>
    <div class="decription-line">
        <textarea name="description">@Model.Task.Description</textarea>
    </div>
</div>