@using FastSchedule.Application.Infrastructure.Enums;
@using FastSchedule.MVC.ViewModels;
@model TasksListViewModel
@{
    if(Model.Status == TasksCondition.Overdue)
    {
        <h4>Просроченные задачи</h4>
    }
    else if(Model.Status == TasksCondition.Completed)
    {
        <h4>Выполненные</h4>
    }
    foreach (var task in Model.Tasks)
    {
        <div class="task @(Model.Status == TasksCondition.Overdue ? "overdue" : "")@(Model.Status == TasksCondition.Completed ? "completed" : "")">
            <div class="main-info">
                <div class="info">
                    <p style="background-color:#@task.Color" class="color-dot"></p>
                    <a id="@task.Guid" class="update-link">@task.Label</a>
                    @if (task.EventTime != null)
                    {
                        <small>@task.EventTime</small>
                    }
                </div>
                <input class="@(Model.Status == TasksCondition.Completed ? "uncomplete-task" : "complete-task")" value="@task.Guid" type="checkbox" @(Model.Status == TasksCondition.Completed ? "checked" : "") />
                @if (task.TaskType == FastSchedule.Domain.Infrastucture.Enums.TaskType.Onetime)
                {
                    <div id="@task.Guid" class="delete-selected-completed-day">
                    </div>
                }
                else
                {
                    <div id="@task.Guid" class="delete-button">
                        <div class="delete-type-choice">
                            <img class="close-type-choice" src="/images/icons/remove.png" />
                            <a class="delete-selected-day">Удалить выбранный день</a>
                            <a class="delete-all-tasks">Удалить все незавершённые задачи</a>
                        </div>
                    </div>
                }
            </div>
            @if (!string.IsNullOrWhiteSpace(@task.Description))
            {
                <small>@task.Description</small>
            }
        </div>
    }
}