@using FastSchedule.Application.Services.ScheduleMaker.Models;
@model Day
@{
    Dictionary<string, string> weekDictionary = new Dictionary<string, string>()
    {
        {"Monday", "Понедельник"},
        {"Tuesday", "Вторник"},
        {"Wednesday", "Среда"},
        {"Thursday", "Четверг"},
        {"Friday", "Пятница"},
        {"Saturday", "Суббота"},
        {"Sunday", "Воскресенье"},
    };
}


<div class="edit-tasks-window">
    <div class="content">
        <div class="top-bar">
            <div class="date-and-dayofweek">
                <h3>@Model.Date</h3>
                <h4>@weekDictionary[Model.Date.DayOfWeek.ToString()]</h4>
            </div>
            <img class="close-button" src="/images/icons/close.png" />
        </div>
        <div class="today-tasks">
            @if (Model.OverdueTasks != null && Model.OverdueTasks.Count() > 0)
            {
                <h4>Просроченные задачи</h4>
                @foreach (var task in Model.OverdueTasks)
                {
                    <div class="task overdue">
                        <div class="main-info">
                            <div class="info">
                                <p style="background-color:#@task.Color" class="color-dot"></p>
                                <a id="@task.Guid" class="update-link">@task.Label</a>
                                @if (task.EventTime != null)
                                {
                                    <small>@task.EventTime</small>
                                }
                            </div>
                            <input class="complete-task" value="@task.Guid" type="checkbox" />
                            @if (task.TaskType == FastSchedule.Domain.Infrastucture.Enums.TaskType.Onetime)
                            {
                                <div id="@task.Guid" class="delete-selected-completed-day">
                                </div>
                            }
                            else
                            {
                                <div id="@task.Guid" class="delete-button">
                                    <div class="delete-type-choice">
                                        <img class="close-type-choice" src="/images/icons/remove.png" />
                                        <a class="delete-selected-day">Удалить выбранный день</a>
                                        <a class="delete-all-tasks">Удалить все незавершённые задачи</a>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (!string.IsNullOrWhiteSpace(@task.Description))
                        {
                            <small>@task.Description</small>
                        }
                    </div>
                }
            }
            @if (Model.Tasks != null)
            {
                @foreach (var task in Model.Tasks)
                {
                    <div class="task">
                        <div class="main-info">
                            <div class="info">
                                <p style="background-color:#@task.Color" class="color-dot"></p>
                                <a id="@task.Guid" class="update-link">@task.Label</a>
                                @if (task.EventTime != null)
                                {
                                    <small>@task.EventTime</small>
                                }
                            </div>
                            <input class="complete-task" value="@task.Guid" type="checkbox" />
                            @if(task.TaskType == FastSchedule.Domain.Infrastucture.Enums.TaskType.Onetime)
                            {
                                <div id="@task.Guid" class="delete-selected-completed-day">
                                </div>
                            }
                            else
                            {
                                <div id="@task.Guid" class="delete-button">
                                    <div class="delete-type-choice">
                                        <img class="close-type-choice" src="/images/icons/remove.png" />
                                        <a class="delete-selected-day">Удалить выбранный день</a>
                                        <a class="delete-all-tasks">Удалить все незавершённые задачи</a>
                                    </div>
                                </div>
                            }
                        </div>
                        @if (!string.IsNullOrWhiteSpace(@task.Description))
                        {
                            <small>@task.Description</small>
                        }
                    </div>
                }
            }
            @if(Model.CompletedTasks != null)
            {
                <h4>Выполненные</h4>
                @foreach (var task in Model.CompletedTasks)
                {
                    <div class="task completed">
                        <div class="main-info">
                            <div class="info">
                                <p style="background-color:#@task.Color" class="color-dot"></p>
                                <a id="@task.Guid" class="update-link">@task.Label</a>
                                @if (task.EventTime != null)
                                {
                                    <small>@task.EventTime</small>
                                }
                            </div>
                            @if (!task.IsDeleted)
                            {
                                <input class="uncomplete-task" value="@task.Guid" type="checkbox" checked />
                            }
                            <div id="@task.Guid" class="delete-selected-completed-day">
                            </div>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(@task.Description))
                        {
                            <small>@task.Description</small>
                        }
                    </div>
                }
            }
        </div>
        @if (Model.Date >= DateOnly.FromDateTime(DateTime.Now))
        {
            <div class="add-new-task">
                <div class="task-settings-line">
                    <div class="setting">
                        <label>Цвет события</label>
                        <div class="color-picker">
                            <a class="color purple" id="d6b1e3"></a>
                            <a class="color red" id="c27b7b"></a>
                            <a class="color green" id="d6e9ce"></a>
                            <a class="color yellow" id="f7dd8b"></a>
                            <a class="color gray" id="ccd2e0"></a>
                            <a class="color pink" id="fce2c7"></a>
                        </div>
                    </div>
                    <div class="setting">
                        <input name="label" type="text" placeholder="Название" />
                    </div>
                    <div class="setting">
                        <input name="time" type="time" />
                    </div>
                    <div class="setting remind">
                        <label>Напомнить?</label>
                        <select name="reminder">
                            <option value="0">Нет</option>
                            <option value="1">За 15 минут</option>
                            <option value="2">За пол часа</option>
                            <option value="3">За час</option>
                            <option value="4">За 6 часов</option>
                            <option value="5">За сутки</option>
                        </select>
                    </div>
                    <div class="setting">
                        <label>Повторять?</label>
                        <select name="repeat">
                            <option value="0">Нет</option>
                            <option value="1">Каждый день</option>
                            <option value="2">Каждую неделю</option>
                            <option value="3">Каждый месяц</option>
                            <option value="4">Каждый год</option>
                        </select>
                    </div>
                    <div class="setting">
                        <img src="~/images/icons/add.png" class="add-button" />
                    </div>
                </div>
                <div class="decription-line">
                    <textarea name="description"></textarea>
                </div>
            </div>
        }
    </div>
</div>